<div class='flex-col ai-center fade-in--fast'>

    <div id='route-title'>Colors</div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Colors
            </div>
            <div class='content-div__content'>
                <h2>Introduction</h2>
                <p>The Primary Colors define 6 levels of brightness for each color to be used in the app.</p>
                <p>The Info, Success, Warn and Danger Colors are similar to Bootstrap's usage.</p>
                <ul>
                    <li>Info - informational highlights</li>
                    <li>Success - positive events</li>
                    <li>Warn - grab attention and denote warnings</li>
                    <li>Danger - impending permanent changes</li>
                </ul>
                <p>All these colors are defined at the top of the {{globals.githubStylesVariablesLink}} file.</p>
                <p>The base color is defined and the lighter and darker shades are automatically calculated. Each calculation's $lightness percent can also be customized to get the exact desired shade.</p>
                <p>Below are the color palettes used for this site.</p>
                <p>The color definitions are applied to many other variables in {{globals.githubStylesVariablesLink}}: from background to fonts.</p>
                <p>A couple of helper classes are available to apply colors to text. And you can easily define more as needed for other elements. Just remember to use the color variables to keep the color palette of the project consistent.</p>
            </div>
        </div>
    </div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Primary Colors
            </div>
            <div class='content-div__content'>
                <div class='flex-row jc-center mt20 mb20'>
                    <div class='colors__small-color colors__primary-lightest'></div>
                    <div class='colors__small-color colors__primary-lighter'></div>
                    <div class='colors__small-color colors__primary-base'></div>
                    <div class='colors__small-color colors__primary-darker'></div>
                    <div class='colors__small-color colors__primary-darkest'></div>
                    <div class='colors__small-color colors__primary-black'></div>
                </div>
                <div class='flex-row wrap jc-center mt20 mb20'>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__primary-lightest'></div>lightest</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__primary-lighter'></div>lighter</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__primary-base'></div>base</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__primary-darker'></div>darker</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__primary-darkest'></div>darkest</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__primary-black'></div>black</div>
                </div>
            </div>
        </div>
    </div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Info Colors
            </div>
            <div class='content-div__content'>
                <div class='flex-row jc-center mt20 mb20'>
                    <div class='colors__small-color colors__info-lightest'></div>
                    <div class='colors__small-color colors__info-lighter'></div>
                    <div class='colors__small-color colors__info-base'></div>
                    <div class='colors__small-color colors__info-darker'></div>
                    <div class='colors__small-color colors__info-darkest'></div>
                </div>
                <div class='flex-row wrap jc-center mt20 mb20'>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__info-lightest'></div>lightest</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__info-lighter'></div>lighter</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__info-base'></div>base</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__info-darker'></div>darker</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__info-darkest'></div>darkest</div>
                </div>
            </div>
        </div>
    </div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Success Colors
            </div>
            <div class='content-div__content'>
                <div class='flex-row jc-center mt20 mb20'>
                    <div class='colors__small-color colors__success-lightest'></div>
                    <div class='colors__small-color colors__success-lighter'></div>
                    <div class='colors__small-color colors__success-base'></div>
                    <div class='colors__small-color colors__success-darker'></div>
                    <div class='colors__small-color colors__success-darkest'></div>
                </div>
                <div class='flex-row wrap jc-center mt20 mb20'>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__success-lightest'></div>lightest</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__success-lighter'></div>lighter</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__success-base'></div>base</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__success-darker'></div>darker</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__success-darkest'></div>darkest</div>
                </div>
            </div>
        </div>
    </div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Warning Colors
            </div>
            <div class='content-div__content'>
                <div class='flex-row jc-center mt20 mb20'>
                    <div class='colors__small-color colors__warn-lightest'></div>
                    <div class='colors__small-color colors__warn-lighter'></div>
                    <div class='colors__small-color colors__warn-base'></div>
                    <div class='colors__small-color colors__warn-darker'></div>
                    <div class='colors__small-color colors__warn-darkest'></div>
                </div>
                <div class='flex-row wrap jc-center mt20 mb20'>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__warn-lightest'></div>lightest</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__warn-lighter'></div>lighter</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__warn-base'></div>base</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__warn-darker'></div>darker</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__warn-darkest'></div>darkest</div>
                </div>
            </div>
        </div>
    </div>

    <div class='content-div-wrapper'>
        <div class='content-div content-div--full-width'>
            <div class='content-div__title'>
                Danger Colors
            </div>
            <div class='content-div__content'>
                <div class='flex-row jc-center mt20 mb20'>
                    <div class='colors__small-color colors__danger-lightest'></div>
                    <div class='colors__small-color colors__danger-lighter'></div>
                    <div class='colors__small-color colors__danger-base'></div>
                    <div class='colors__small-color colors__danger-darker'></div>
                    <div class='colors__small-color colors__danger-darkest'></div>
                </div>
                <div class='flex-row wrap jc-center mt20 mb20'>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__danger-lightest'></div>lightest</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__danger-lighter'></div>lighter</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__danger-base'></div>base</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__danger-darker'></div>darker</div>
                    <div class='flex-col ai-center'><div class='colors__big-color colors__danger-darkest'></div>darkest</div>
                </div>
            </div>
        </div>
    </div>

</div>
